<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Network Cabinet</title>
    <%- injectScript %>
    <link rel="icon" href="/favicon.ico?t=20241009" />
    <link href="./src/style.css" rel="stylesheet" />
    <meta
      name="description"
      content="A custom-designed, non-standard network cabinet integrated into a cabinet."
      data-i18n="app.description"
    />
    <%- injectCss %>
  </head>
  <body style="padding: 0; margin: 0; border: 0">
    <noscript>
      <strong data-i18n="app.noScript">
        We're sorry but our system doesn't work properly without JavaScript enabled. Please
        enable it to continue.
      </strong>
    </noscript>
    <div id="app" class="w-screen h-screen">
      <div
        class="bg-gray-50 text-blue-600 dark:text-sky-400 text-center text-[22px]/[100vh]"
        data-i18n="app.loading"
      >
        Loading...
      </div>
    </div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
